// default scss
@import "./base/base";
@import "./base/variable";
@import "./base/mixin";

// component
@import "./components/loginForm";
@import "./components/topNav";
@import "./components/contents";
@import "./components/userProfile";

#__next {
  height: 100%;
}

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .contents-container {
    flex-grow: 10;
  }
}
