.post-card-container {
  margin-bottom: 1rem;

  ul li span::selection {
    background-color: transparent;
  }
}

.post-images-container {
  
  .rest-images {
    display: inline-block;
    width: 50%;
    text-align: center;
    vertical-align: middle;
  }
}
