.sign-up-container {
  padding: 1rem;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  label {
    @include font-default(500, 1rem);
    margin-left: 0.2rem;
  }

  .check-password {
    color: red;
  }
}
