.top-nav-container {
  flex: 1;
  @include font-default(500, 0.8rem);
  .nav-search {
    vertical-align: middle;
  }

  .nav-right {
    display: flex;
    margin-left: auto;

    li.ant-menu-overflow-item
      .ant-menu-item
      .ant-menu-item-selected
      .ant-menu-item-only-child::after {
      border: none;
    }
  }
}
